<!DOCTYPE html>
<html lang="en">
  <title>
    Python Flask Template
  </title>
  <style>
    h1{font-family: Roboto;
       font-size: normal;
       color: rgb(50,50,50);
       text-align: center;
    }
    #banner {
      width:100%;
      height:360px;
      object-fit: cover;
    }
  </style>
  <body>
    <h1>
      Python Flask Template
    </h1>
    <img id="banner" src="https://d6c96811-8d04-4ccb-9aca-f1b3c6109b50-00-15oh8fjqsnmvv.pike.replit.dev/static/bgimage.jpg">
    <p>
      This is a template for a Python Flask web application.
    </p>
  </body>
</html>