<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css" />
  <title>table</title>
</head>
<body>
  <table class='table'>
    {% for header in headings %}
      <th class='t_header'>{{header}} </th>
    {% endfor %}
    {% for row in data %}
    <tr class='t_row'>
      {% for cell in row %}
      <td class='t_cell'>{{cell}} </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</body>
</html>